---
- hosts: all
  connection: local
  gather_facts: false
  vars_files:
    - casc/{{environment}}/controller_job_templates.yaml
    - casc/{{environment}}/controller_projects.yaml
  vars:
    controller_configuration_projects_async_retries: 120
    controller_configuration_projects_async_delay: 2
    aap_username: "{{ vault_controller_username | default(lookup('env', 'CONTROLLER_USERNAME')) }}"
    aap_password: "{{ vault_controller_password | default(lookup('env', 'CONTROLLER_PASSWORD')) }}"
    aap_hostname: "{{ vault_controller_hostname | default(lookup('env', 'CONTROLLER_HOST')) }}"
    aap_validate_certs: "{{ vault_controller_validate_certs | default(lookup('env', 'CONTROLLER_VERIFY_SSL')) }}"

    controller_schedules_aux: "{{controller_schedules_vars| from_yaml}}"
    controller_schedules: "{{controller_schedules_aux.controller_schedules| default([])}}"
    controller_projects_aux: "{{controller_projects_vars| from_yaml}}"
    controller_projects: "{{controller_projects_aux.controller_projects| default([])}}"
    controller_templates_aux: "{{controller_templates_vars| from_yaml}}"
    controller_templates: "{{controller_templates_aux.controller_templates| default([])}}"

  pre_tasks:
    - name: "Setup authentication (block)"
      block:
        - name: "Get the Authentication Token for the future requests"
          ansible.builtin.uri:
            url: "https://{{ aap_hostname }}/api/gateway/v1/tokens/"
            user: "{{ aap_username }}"
            password: "{{ aap_password }}"
            method: POST
            force_basic_auth: true
            validate_certs: "{{ aap_validate_certs }}"
            status_code: 201
          register: authtoken_res

        - name: "Set the oauth token to be used since now"
          ansible.builtin.set_fact:
            controller_oauthtoken: "{{ authtoken_res.json.token }}"
            aap_oauthtoken_url: "{{ authtoken_res.json.url }}"
      no_log: "{{ controller_configuration_filetree_read_secure_logging | default('false') }}"
      when: aap_oauthtoken is not defined
      tags:
        - always
      rescue:
        
        - name: Send Vars OutPut
          ansible.builtin.set_stats:
            data: 
              casc_execution_failed: true

  tasks:
    - name: Bloque principal para ejecutar roles protegidos
      block:
        # === Llamada a Roles usando include_role dentro del block ===

        - name: Ejecutar Rol de Clonado Repositorio
          ansible.builtin.include_role:
            name: clone_repository

        - name: Ejecutar Rol de Dispatch
          ansible.builtin.include_role:
            name: infra.controller_configuration.dispatch
            
        # ==========================================================

      rescue:
        
        - name: Send Vars OutPut
          ansible.builtin.set_stats:
            data: 
              casc_execution_failed: true

  post_tasks:
    - name: "Delete the Authentication Token used"
      ansible.builtin.uri:
        url: "https://{{ aap_hostname }}{{aap_oauthtoken_url }}"
        user: "{{ aap_username }}"
        password: "{{ aap_password }}"
        method: DELETE
        force_basic_auth: true
        validate_certs: "{{ aap_validate_certs }}"
        status_code: 204
      when: aap_oauthtoken_url is defined

  when: awx_webhook_payload.head_commit.message | startswith("[PROMOTE-TO-AWX]")
...
