---
- hosts: localhost
  gather_facts: false
  vars:
    local_path: "/tmp/repository_clone"

  tasks:

    - name: Clone repository
      ansible.builtin.import_role:
        name: clone_repository

    - name: AnsibleLint
      ansible.builtin.shell: env -i /usr/bin/ansible-lint --nocolor
      args:
        chdir: "{{ local_path }}/"
      register: ansiblelint_result
      ignore_errors: true

    - name: Resultado ejecucion AnsibleLint
      debug:
        msg: "{{ansiblelint_result}}"

    - name: Send Vars OutPut
      ansible.builtin.set_stats:
        data: 
          ansiblelint_execution: "{{ansiblelint_result}}"
