---
- hosts: localhost
  gather_facts: false
  vars:
    local_path: "/tmp/repository_clone"

  tasks:
    
    - name: Send notifications
      ansible.builtin.import_role:
        name: notifications
      vars: 
        notification_type_error_ci: "{{(clone_execution.failed is defined and clone_execution.failed) or (yamllint_execution.failed is defined and yamllint_execution.failed) or (ansiblelint_execution.failed is defined and ansiblelint_execution.failed) or (molecule_execution is defined and molecule_execution.failed is defined and molecule_execution.failed) or (sign_execution_failed is defined and sign_execution_failed)}}"
        notification_type_error_sign_casc: "{{(sign_execution_failed is defined and sign_execution_failed) or (casc_execution_failed is defined and casc_execution_failed)}}"
        awx_url_workflow: "https://{{aap_hostname}}/#/jobs/workflow/{{awx_workflow_job_id}}/output"

    - name: Errors Checks
      ansible.builtin.fail:
        msg: 
          - "{{ 'Fallo en el Clonado, por favor reviselo' if clone_execution.failed is defined and clone_execution.failed }}"
          - "{{ 'Fallo en el YamlLint, por favor reviselo' if yamllint_execution.failed is defined and yamllint_execution.failed }}"
          - "{{ 'Fallo en el AnsibleLint, por favor reviselo' if ansiblelint_execution.failed is defined and ansiblelint_execution.failed }}"
          - "{{ 'Fallo en el Molecules Test, por favor reviselo' if molecule_execution is defined and molecule_execution.failed is defined and molecule_execution.failed }}" 
          - "{{ 'Fallo en el proceso de firmado del proyecto' if sign_execution_failed is defined and sign_execution_failed }}"
      when: (clone_execution.failed is defined and clone_execution.failed) or (yamllint_execution.failed is defined and yamllint_execution.failed) or (ansiblelint_execution.failed is defined and ansiblelint_execution.failed) or (molecule_execution is defined and molecule_execution.failed is defined and molecule_execution.failed) or (sign_execution_failed is defined and sign_execution_failed) 
