---
- name: Notification CI execution
  block:

  - name: Set var subject
    set_fact:
      subject: "{{ '❌ Ejecución fallida CI' if notification_type_error_ci else '✅ Ejecución correcta CI' }}"
      icon_emoji: "{{ ':x:' if notification_type_error_ci else ':rocket:' }}"
      url_workflow_execution: "{{ awx_url_workflow }}"


  - name: Enviar notificación fallida CI mail
    ansible.builtin.mail:
      host: "{{ smtp_host }}"
      port: "{{ smtp_port|int }}"
      username: "{{ smtp_user }}"
      password: "{{ smtp_password }}"
      to: "{{ smtp_to }}"
      subject: "{{subject}}"
      body: |
        Hola,
        {{ lookup('template', 'template-message-email-ok-ci.j2') }}
        {{ lookup('template', 'template-message-email-error-ci.j2') }}
        Saludos,
        Plataforma de Automatización AWX/AAP

  - name: Enviar notificación ejecuccion CI slack
    community.general.slack:
      token: "{{ slack_api_token }}"
      channel: "{{ slack_channel }}"
      msg: "|
        Hola,
        {{ lookup('template', 'template-message-slack-ok-ci.j2') }}
        {{ lookup('template', 'template-message-slack-error-ci.j2') }}
        Saludos,
        Plataforma de Automatización AWX/AAP"
      username: "AWX Automation"
      icon_emoji: "{{icon_emoji}}"

  when: type_notification is defined and type_notification == "ci"

- name: Notification Sign/CasC execution
  block:

  - name: Set var subject
    set_fact:
      subject: "{{ '❌ Ejecución fallida' if notification_type_error_sign_casc else '✅ Ejecución correcta' }}"
      icon_emoji: "{{ ':rocket:'  if notification_type_error_sign_casc else  ':x:' }}"

  - name: Enviar notificación ejecuccion Sign/CasC mail
    ansible.builtin.mail:
      host: "{{ smtp_host }}"
      port: "{{ smtp_port|int }}"
      username: "{{ smtp_user }}"
      password: "{{ smtp_password }}"
      to: "{{ smtp_to }}"
      subject: "{{subject}}"
      body: |
        Hola,
        {{ lookup('template', 'template-message-email-ok-sign-casc.j2') }}
        {{ lookup('template', 'template-message-email-error-sign-casc.j2') }}
        Saludos,
        Plataforma de Automatización AWX/AAP

  - name: Enviar notificación ejecuccion Sign/CasC slack
    community.general.slack:
      token: "{{ slack_api_token }}"
      channel: "{{ slack_channel }}"
      msg: "|
        Hola,
        {{ lookup('template', 'template-message-slack-ok-sign-casc.j2') }}
        {{ lookup('template', 'template-message-slack-error-sign-casc.j2') }}
        Saludos,
        Plataforma de Automatización AWX/AAP"
      username: "AWX Automation"
      icon_emoji: "{{icon_emoji}}"
      
  when: type_notification is defined and type_notification == "sign_casc" and awx_webhook_payload.head_commit.message.startswith("[PROMOTE-TO-AWX]")