---
- name: Enviar notificación ejecuccion fallida CI mail
  ansible.builtin.mail:
    host: "{{ smtp_host }}"
    port: "{{ smtp_port|int }}"
    username: "{{ smtp_user }}"
    password: "{{ smtp_password }}"
    to: "{{ smtp_to }}"
    subject: "✅ Ejecución correcta"
    body: |
      Hola,

      {{ lookup('template', 'template-message-email-ok.j2') }}
      {{ lookup('template', 'template-message-email-error.j2') }}

      Saludos,
      Plataforma de Automatización AWX/AAP
  when: repo_final_url is defined and repo_final_url != "" and smtp_host is defined and "email" in canales_comunicacion

- name: Enviar notificación ejecuccion fallida CI slack
  community.general.slack:
    token: "{{ slack_api_token }}"
    channel: "{{ slack_channel }}"
    msg: "|
      Hola,

      {{ lookup('template', 'template-message-slack-ok.j2') }}
      {{ lookup('template', 'template-message-slack-error.j2') }}

      Saludos,
      Plataforma de Automatización AWX/AAP"
    username: "AWX Automation"
    icon_emoji: ":rocket:"
  when: repo_final_url is defined and repo_final_url != "" and slack_api_token is defined and "slack" in canales_comunicacion
