{% if(casc_execution_failed is not defined or not casc_execution_failed) and (sign_execution_failed is not defined or not sign_execution_faile) %}
Ejecución Complete OK ✅

Url: {{awx_url_workflow}}
Generate projects:
{% for item in controller_info_projects -%}
{{item.name}}
{{item.access_url}}

{%  endfor -%}
Generate JobTemplates: 
{% for item in controller_info_templates -%}
{{item.name}}
{{item.access_url}}
{{item.launch_url}}

Ejemplo curl:

curl -X POST \
--user "**mi_usuario_awx**:**mi_contrasena_awx**" \
-H "Content-Type: application/json" \
--data "{
    \"inventory_id\": **ID_DEL_INVENTARIO_OPCIONAL**,
    \"extra_vars\": {
        \"clave_ansible\": \"valor\"
    }
}" \
"{{item.launch_url}}"

{%  endfor -%}

{% endif %}

