{% (if casc_execution_failed is not defined or not casc_execution_failed) and (asc_execution_failed is defined and not casc_execution_failed) %}
Ejecución Complete OK ✅

Url: {{awx_url_workflow}}
Generate project: XXX
Generate JobTemplate: XXX
To launch fro curl or another integration:

End Point:


Curl Example:


{% endif %}

