{% if sign_execution_failed is defined and sign_execution_failed %}
❌Fallo en el proceso de firmado del proyecto
{% endif %}
{% if casc_execution_failed is defined and casc_execution_failed %}
❌Fallo en el CasC
{% endif %}
URL Workflow: {{awx_url_workflow}}